


.navbar.bg-primary {
    background-color: #A3102D !important;
}

.btn-primary {
    background-color: #A3102D !important;
    border-color: #830B22 !important; /* Un tono un poco más oscuro para el borde */
}

.btn-primary:hover {
    background-color: #830B22 !important;
    border-color: #650719 !important;
}